<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SoundVault/Catalogue</title>
    <link
            rel="stylesheet"
            href="../static/css/cred.css"
    />
    <link
            rel="icon"
            href="../static/favicon.ico"
    />
</head>

<body>
<div id="body">
    {% include"navbar.html" %}
    <div id="content-2">
        <header id="header">
            {{ title }}
        </header>
        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->

            <!-- Username Field -->
            <div class="form-field">
                {{ form.user_name.label }}
                <br>
                {{ form.user_name }}

                {% if form.user_name.errors or user_name_error_message is not none %}
                    <ul class="errors">
                        {% if user_name_error_message is not none %}
<!--                            <li>-->
                                {{ user_name_error_message }}
<!--                            </li>-->
                        {% endif %}
                        {% for error in form.user_name.errors %}
<!--                            <li>-->
                                {{ error }}
<!--                        </li>-->
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <br>

            <!-- Password Field -->
            <div class="form-field">
                {{ form.password.label }}
                <br>
                {{ form.password }}


                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}

                                {{ password_error_message }}

                        {% endif %}
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Submit button -->
            {{ form.submit}}

        </form>
    </div>
</div>
</body>
</html>